/* Rétablir les marges intérieures & extérieures sur tout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

html {
  background-color: var(--couleur-fond);
  font-family: var(--police-general);
  line-height: var(--interligne-base);
  font-size: var(--taille-police-normal);
  color: var(--couleur-texte);
}

#root {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--couleur-principale);
  font-family: var(--police-decorative);
  font-size: var(--taille-police-moyen);
}
