/* Regles CSS du composant Footer */

footer {
  background-color: var(--couleur-fond-accent);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: var(--rythme-base);
}

.Footer__droits {
  text-align: center;
}

footer .LogoTitre {
  margin-left: var(--rythme-espace);
}

footer .LogoTitre .LogoTitre__titre {
  font-size: var(--taille-police-moyen);
}

/* Taille d'ecran inferieur a 1230x */
@media screen and (max-width: 1230px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: var(--rythme-base);
  }
}
