/* Regles CSS du composant Footer */

footer {
  background-color: var(--couleur-fond-accent);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: var(--rythme-base);
}

.Footer__droits {
  text-align: center;
}
