/* Regles CSS du composant FiltresProduits */

.FiltresProduits {
  display: flex;
  gap: var(--rythme-espace);
  margin: var(--rythme-base) 0;
  padding: var(--rythme-serre);
  justify-content: center;
  border-top: 0.5px solid var(--couleur-bordure);
  border-bottom: 0.5px solid var(--couleur-bordure);
  background-color: var(--couleur-fond-accent);
}

/* Taille d'ecran inferieur a 1000x */
@media screen and (max-width: 1000px) {
  .FiltresProduits {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    gap: var(--rythme-base);
    border-right: 0.5px solid var(--couleur-bordure);
    border-radius: var(--arrondi-petit);
    justify-content: start;
  }
}
