/* Regles CSS du composant CarteProduit */

.CarteProduit {
  display: flex;
  flex-direction: column;
  gap: var(--rythme-serre);
  border: 1px solid var(--couleur-bordure);
  border-radius: var(--arrondi-petit);
  padding: var(--rythme-base);
  position: relative;
}

.CarteProduit__titre {
  text-align: center;
  color: var(--couleur-secondaire);
}

.CarteProduit__image {
  display: block;
  width: 250px;
  height: 250px;
}

.CarteProduit__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--arrondi-petit);
}

.CarteProduit:hover {
  box-shadow: var(--box-shadow);
}

.CarteProduit__description span {
  font-weight: var(--epaisseur-police-gras);
  color: var(--couleur-secondaire);
}

/* Taille d'ecran inferieur a 1000x */
@media screen and (max-width: 1000px) {
  .CarteProduit__image {
    display: block;
    width: 200px;
    height: 200px;
  }
}
