/* Regles CSS du composant Filtre */

.Filtre,
.Filtre__actif {
  display: block;
  padding: var(--rythme-serre) var(--rythme-base);
  border-radius: var(--arrondi-grand);
  text-align: center;
  border: var(--couleur-fond-accent) 1px solid;
  background-color: var(--couleur-fond);
  margin: var(--rythme-base) 0;
  background-color: var(--couleur-fond-accent);
}

.Filtre:hover {
  border: var(--couleur-bordure) 1px solid;
  border-radius: var(--arrondi-grand);
}

.Filtre__actif {
  background-color: var(--couleur-fond);
}

.Filtre:hover .Filtre__titre,
.Filtre__actif .Filtre__titre {
  color: var(--couleur-principale);
}

.Filtre__image {
  display: block;
  height: 160px;
  margin-bottom: var(--rythme-base);
}

.Filtre__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Filtre__titre {
  font-weight: var(--epaisseur-police-gras);
  color: var(--couleur-secondaire);
  font-size: var(--taille-police-normal);
  font-family: var(--police-decorative);
}

/* Taille d'ecran inferieur a 1000x */
@media screen and (max-width: 1000px) {
  .Filtre__image {
    display: block;
    width: 100px;
    height: auto;
    margin-bottom: 0;
  }
}
