/* Regles CSS du composant FormulaireSelect */

.FormulaireSelect {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rythme-base);
  margin: var(--rythme-serre);
  font-weight: var(--epaisseur-police-gras);
}
