@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap");

/* Variables CSS */
:root {
  /* --- Espacement --- */
  --rythme-tres-serre: 5px;
  --rythme-serre: 10px;
  --rythme-base: 20px;
  --rythme-espace: 40px;
  --rythme-tres-espace: 80px;
  /* --- Couleurs --- */
  --couleur-fond-accent: #f7efeb;
  --couleur-fond: #fffefe;
  --couleur-texte: #4f6376;
  --couleur-principale: #9e1a50;
  --couleur-secondaire: #6c7b9e;
  --couleur-bordure: #ceb7d0;

  /* --- Interligne --- */
  --interligne-base: 1.5625em;
  --interligne-grand: 2.5rem;
  --interligne-logo: 1.78em;
  /* --- Police --- */
  --police-general: "Lora", sans-serif;
  --police-decorative: "Playfair Display", sans-serif;
  /* --- Taille de police --- */
  --taille-police-petit: 0.9rem;
  --taille-police-normal: 1rem;
  --taille-police-moyen: 1.5rem;
  --taille-police-grand: 2rem;
  --taille-police-gros: 2.3rem;
  /* --- Epaisseur de police --- */
  --epaisseur-police-normale: 400;
  --epaisseur-police-gras: 550;
  --epaisseur-police-tres-gras: 700;
  /* Border-radius */
  --arrondi-petit: 4px;
  --arrondi-grand: 8px;
  /* Box-shadow */
  /* Moyennement doux */
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  /* Points de rupture (ne peuvent pas être utilisés comme variables, mais sont indiqués à titre informatif). */
  /* --ecran-petit: 700px;
       --ecran-moyen: 1000px;
       --ecran-large: 1230px; */
}
